<Project>
  <PropertyGroup>
    <GmaFrameworkRoot>$(MSBuildThisFileDirectory)..\gma-framework\src\</GmaFrameworkRoot>
    <GmaModulesRoot>$(MSBuildThisFileDirectory)..\</GmaModulesRoot>
    <GmaModuleAccessControlRoot>$(GmaModulesRoot)gma-module-access-control\src\</GmaModuleAccessControlRoot>
    <GmaModuleAdministrationRoot>$(GmaModulesRoot)gma-module-administration\src\</GmaModuleAdministrationRoot>
    <GmaModuleAuthRoot>$(GmaModulesRoot)gma-module-auth\src\</GmaModuleAuthRoot>
    <GmaModuleFilesRoot>$(GmaModulesRoot)gma-module-files\src\</GmaModuleFilesRoot>
    <GmaModuleNotificationsRoot>$(GmaModulesRoot)gma-module-notifications\src\</GmaModuleNotificationsRoot>
    <GmaModuleTaskRuntimeRoot>$(GmaModulesRoot)gma-module-task-runtime\src\</GmaModuleTaskRuntimeRoot>
    <GmaModuleTenancyRoot>$(GmaModulesRoot)gma-module-tenancy\src\</GmaModuleTenancyRoot>
  </PropertyGroup>
</Project>
